<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseASP" connectionString="Server=(localdb)\\mssqllocaldb;Database=EFvsAdoNet.DatabaseEFContext;Trusted_Connection=True;" />
		<add name="DatabaseEF" connectionString="Server=(localdb)\\mssqllocaldb;Database=EF_vs_ADONET;Trusted_Connection=True;" providerName="System.Data.SqlClient" />	
</connectionStrings>
</configuration>